@value height, border-color, border-color-focus, border-color-error, border-radius, padding from './../../config.css';

.input {
  border: 1px solid border-color;
  border-radius: border-radius;
  composes: value from './../../config';
  height: calc(height * 2);
  padding: padding;

  &:focus {
    border-color: border-color-focus;
    outline: none;
  }
}

.input-error {
  border-color: border-color-error;
  composes: input;

  &:focus {
    border-color: border-color-error;
    outline: none;
  }
}
