@value color-default, height, border-color, border-color-focus, border-color-error, border-radius, padding from './../../config.css';

.select {
  composes: value from './../../config.css';

  :global {
    .Select-error {
      .Select-control {
        border: 1px solid border-color-error;
      }

      .Select-menu-outer {
        border-color: border-color-error;
      }
    }

    .Select.is-open {
      .Select-control {
        border-radius: 0;
      }
    }

    .Select-control {
      border: 1px solid border-color;
      border-radius: border-radius;
      height: height;

      &:hover {
        box-shadow: none;
      }
    }

    .Select-placeholder,
    .Select-value {
      padding-left: padding;
      padding-right: padding;
    }

    .Select-option.is-focused,
    .Select-option.is-selected {
      background: color-default;
    }

    .Select-menu-outer {
      border-bottom-left-radius: border-radius;
      border-bottom-right-radius: border-radius;
      border-color: border-color;
    }

    .Select-placeholder {
      font-weight: 100;
    }

    .is-focused:not(.is-open) > .Select-control {
      border-color: border-color-focus;
      box-shadow: none;
    }
  }
}
