@value color-primary: #0078E7;
@value color-secondary: #42B8DD;
@value color-default: #e6e6e6;
@value color-light: white;
@value color-success: #1CB841;
@value color-danger: #CA3C3C;
@value color-gray: #eee;
@value height: 35px;
@value padding: 10px;
@value border-radius: 4px;
@value border-color: color-gray;
@value border-color-focus: color-primary;
@value border-color-error: color-danger;

.container {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.value {
  font-size: 14px;
  font-weight: 100;
}

.info {
  font-size: 12px;
  margin-top: 5px;
}

.error {
  color: color-danger;
  font-size: 12px;
  margin-top: 5px;
}
