@value color-primary: #0078E7;
@value color-secondary: #42B8DD;
@value color-default: #e6e6e6;
@value color-light: white;
@value color-success: #1CB841;
@value color-danger: #CA3C3C;
@value color-gray: #eee;
@value control-height: 35px;
@value control-width: 200px;
@value control-padding: 10px;
@value control-border-radius: 2px;
@value control-border-color: color-gray;
@value control-border-focus-color: color-primary;
@value control-border-error-color: color-danger;

.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
}

.info {
  margin-top: 5px;
}
